[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CEGO"]
	path = CEGO
	url = https://github.com/cran/CEGO
	shallow = true
	registered = true
[submodule "rSFA"]
	path = rSFA
	url = https://github.com/cran/rSFA
	shallow = true
	registered = true
